<md-dialog style="max-width: 800px; width: 700px">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Data Barang</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="barang.cancel()" aria-label="close">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding>
            <md-input-container class="md-block" ng-show="barang.enable">
                <label>ID Barang</label>
                <input name="idBarang" ng-model="barang._inputBarang.idBarang" disabled />
            </md-input-container>
            <md-input-container class="md-block">
                <label>Nama Barang</label>
                <input name="namaBarang" ng-model="barang._inputBarang.namaBarang" />
            </md-input-container>
            <md-input-container class="md-block">
                <label>Harga Barang</label>
                <input name="hargaBarang" ng-model="barang._inputBarang.hargaBarang" />
            </md-input-container>
            <md-content>
                <label>Tanggal Kadaluarsa</label>
                <md-datepicker ng-model="barang._inputBarang.tanggalKadaluarsa"></md-datepicker>
            </md-content>
        </md-content layout-padding>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="barang.cancel()" class="md-raised md-warn">
            Batal
        </md-button>
        <md-button ng-hide="barang.enable" ng-click="barang.saveBarang(barang._inputBarang)" class="md-raised md-primary">
            Simpan
        </md-button>
        <md-button ng-show="barang.enable" ng-click="barang.updateBarang(barang._inputBarang, barang._inputBarang.idBarang)" class="md-raised md-primary">
            Update
        </md-button>
    </md-dialog-actions>
</md-dialog>
