<div id="demo">
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-bordered table-mc-light-blue">
            <tfoot>
                <md-button ng-click="barang.addBarang()" class="md-raised md-primary" aria-label="Tambah">
                    Tambah
                </md-button>
            </tfoot>
            <thead>
                <tr>
                    <th>Nama Barang</th>
                    <th>Harga Barang</th>
                    <th>Tanggal Kadaluarsa</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="b in barang._barangs">
                    <td>{{b.namaBarang}}</td>
                    <td>{{b.hargaBarang}}</td>
                    <td>{{b.tanggalKadaluarsa | date:'d MMMM y'}}</td>
                    <td class="text-center">
                        <md-button ng-click="barang.editBarang(b)" class="md-raised" aria-label="edit">
                            Edit
                        </md-button>
                        <md-button ng-click="barang.deleteBarang(b.idBarang)" class="md-raised md-warn" aria-label="delete">
                            Hapus
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <md-button ng-disabled="barang.hasNextPage()" ng-click="barang.previousPage()" class="md-raise md-mini" aria-label="<">
            <
        </md-button>
        <md-button ng-disabled="true" class="md-primary" aria-label="total">
            {{barang._paging.page}} dari {{barang._paging.totalPages}}
        </md-button>
        <md-button ng-disabled="barang.hasPreviousPage()" class="md-raise md-mini" ng-click="barang.nextPage()" aria-label=">">
            >
        </md-button>
    </div>
</div>
